:root {
  --monospace-font-family: 'Consolas', 'Inconsolata', 'Droid Sans Mono', 'Monaco', monospace;
  --base-font-family: 'helvetica neue', helvetica, arial, sans-serif;
  --base-font-size: 14px;
  --spacing-unit: 5px;
  --panel-items-spacing: 8px;
  --panel-spacing: 15px;
  --icons-size: 24px;

  /* accent color for selected items */
  --primary-color: #8be9fd ;
  /* that's the bg */
  --background-color: #282a36;
  --dark-bg-color: #00f;
  --highlight-color: var(--primary-color);
  /* color of the entity */
  --secondary-color: #6272a4;
  --logo-color: #27535e;
  /* */
  --link-hover-color: #8be9fd;
  /* left panel: color of the field  */
  --field-name-color: #bd93f9;
  /* left panel: scalar color */
  --builtin-color: #f1fa8c;
   /* left panel/entity: link to entities */
  --link-color: #f1fa8c;
  /* left panel: description color */
  --text-color: #f8f8f2;
  /* --shadow-color: rgba(0, 0, 0, 0.1); */
  --shadow-color: rgba(255, 255, 0, 0.1); 
  /* left panel: errors */
  --alert-color: #ff5555;

  --input-underline-color: #ff79c6;

  --modal-bg-color: var(--dark-bg-color);

  --doc-panel-width: 320px;
  --type-info-popover-width: 320px;
  /* --doc-panel-bg-color: var(--background-color); */
  --doc-panel-bg-color: #44475a;
  --doc-panel-item-stripe-color: rgba(158, 158, 158, 0.07);
  --doc-panel-item-hover-color: rgba(214, 236, 238, 0.6);

  --arg-default-color: #8be9fd;
  --arg-name-color: #ffb86c;

  /* entity: fill color of the entity */
  --node-fill-color: #44475a;
  --node-header-color: #6272a4;
  /* entity: color of the entity text */
  --node-header-text-color: #f8f8f2;

  /* entity: ok dracula - color of all entity relations*/
  --edge-color: #bd93f9;
  /* entity: ok dracula - color of the selected relation */
  --selected-edge-color: #50fa7b;
  /* entity: that is the color of the selection entity attribute */
  --selected-field-bg: color(var(--selected-edge-color) blackness(25%));
}

@custom-media --small-viewport (max-width: 780px);
@custom-media --big-viewport (min-width: 781px);
