@import '../variables.css';

.field-type {
    fill: var(--primary-color);
    
}

.type-link {
  fill: var(--link-color);
}

.type-link:hover {
  fill: var(--link-hover-color);
}

.type-name {
  &.-input-obj,
  &.-object {
    color: var(--link-color);

    &:hover {
      color: var(--link-hover-color);
    }
  }

  &.-scalar,
  &.-built-in {
    color: var(--primary-color);

    &:hover {
      color: color(var(--primary-color) l(- 10%));
    }
  }
}
